caption, th
{
    color : #369;
}
caption
{
    margin-bottom : 5px;
    text-align : left;
}
.simple-table
{
    margin: 17px auto;
    border-collapse : collapse;
}
.simple-table td,
.simple-table th
{
    padding : 8px;
    border : 1px solid #000;
}